<?php
/**
 * weil Produkte NUR zu Auftraegen zugefuegt werden koennen ist AJAX Zufuegen moeglich!!!
 */
$this->headScript()->appendFile($this->basePath() . '/js/amandia_es/amandiaes_json_show.js');
$this->headTitle('Produkte wählen');
echo $this->displayMessage($this->message);
//echo $this->printrTextarea($this->chooseData);

?>
<div class="row">
    <div class="col_2">
        <a href="<?php echo $this->url('amandia_es_admin_order', array('id' => $this->origin)) ?>" class="button small"><i class="icon-double-angle-left"></i> zurück</a>
    </div>
    <div class="col_3">
        <form method="post" action="<?php echo $this->url('amandia_es_admin_product_choose', array('origin' => $this->origin)) ?>"><!-- eventuelle GET ID loeschen -->
            <select name="group_select" class="select_autosubmit">
                <?php foreach ($this->groupsIdNameAssoc as $groupId => $groupName) { ?>
                    <option value="<?php echo $groupId ?>" <?php echo ($this->group == $groupId) ? 'selected="selected"' : ''; ?>><?php echo $groupName ?></option>
                <?php } ?>
            </select>
        </form>
    </div>
    <div class="col_7">
    </div>
</div>

    <table class="striped tight sortable"> <!--  cellpadding="4" cellspacing="0" border="1" -->
        <thead>
            <tr>
                <th class="hovercontext"><a href="?order=id">ID</a></th>
                <th><a href="?order=name">Name</a></th>
                <th>Preis</th>
                <th>Artikel</th>
                <th>Material</th>
                <th>Services</th>
                <th>B-Artikel</th>
                <th>Beschreibung</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
<?php if (isset($this->isProducts) && $this->isProducts) { ?>
            <?php foreach ($this->paginator->getCurrentItems() as $product) { ?>
                <?php $productCount = array_key_exists($product['id'], $this->orderProducts) ? $this->orderProducts[$product['id']] : 0; ?>

                <tr valign="center">
                    <td>
                        <?php echo $product['id'] ?>
                    </td>
                    <td>
                        <?php echo $product['name'] ?>
                    </td>
                    <td>
                        <?php echo $product['price'] ?>
                    </td>
                    <td>
                        <?php $jsonArticles = json_decode($product['articles'], true) ?>
                        <?php if ($jsonArticles) { ?>
                            <a class="button small show_articles" data-prodid="<?php echo $product['id'] ?>">
                                anzeigen&nbsp;(<?php echo count(array_keys($jsonArticles)) ?>)
                            </a>
                        <?php } ?>
                    </td>
                    <td>
                        <?php $jsonMats = json_decode($product['materials'], true) ?>
                        <?php if ($jsonMats) { ?>
                            <a class="button small show_materials" data-prodid="<?php echo $product['id'] ?>">
                                anzeigen&nbsp;(<?php echo count(array_keys($jsonMats)) ?>)
                            </a>
                        <?php } ?>
                    </td>
                    <td>
                        <?php echo $product['services'] ?>
                    </td>
                    <td>
                        <?php echo $product['factory_articles'] ?>
                    </td>
                    <td>
                        <?php echo $product['description'] ?>
                    </td>
                    <td>
                        <form method="post" action="" style="margin: 0;">
                            <input type="hidden" name="choose_id" value="<?php echo $product['id'] ?>"/>
                            <input type="submit" value=" + " name="choose_add" class="small green"/>
                            <input type="submit" value=" - " name="choose_cull" class="small red"/>
                            <b><?php echo $productCount ?></b>
                        </form>
                    </td>
                </tr>
            <?php } ?>
        </tbody>
    </table>
    <?php
    echo $this->paginationControl(
            $this->paginator, 'Sliding', 'pagination/chooseDefault', array(
        'route' => 'amandia_es_admin_product_choose',
        'origin' => $this->origin,
        'group' => $this->group,
        'page' => $this->page)
    );
    ?>
<?php } ?>
<div id="modal_div"></div>


