<?php
$this->headTitle('Produkt');
//$this->headScript()->appendFile($this->basePath() . '/js/amandia_es/admin-product.js');
echo $this->displayMessage($this->message);
echo $this->printrTextarea($this->formData);
//echo $this->url($this->route, array('id' => 64));
?>
<?php if (isset($this->productForm)) { ?>
    <?php $this->productForm->prepare(); ?>
    <?php echo $this->form()->openTag($this->productForm); ?>
    <fieldset>
        <legend>Produkt: Details</legend>
        <div class="defaultsubmitbutton"><input type="submit" name="submit_product" value="speichern"></div>
        <?php echo $this->formHidden($this->productForm->get('product')->get('id')); ?>
        <div class="row">
            <div class="col_3">
                <?php echo $this->kikstartFormRow($this->productForm->get('product')->get('product_nr')); ?>
                <?php echo $this->kikstartFormRow($this->productForm->get('product')->get('name')); ?>
                <?php echo $this->kikstartFormRow($this->productForm->get('product')->get('group')); ?>
            </div>
            <div class="col_3">
                <?php echo $this->kikstartFormRow($this->productForm->get('product')->get('price')); ?>
            </div>
            <div class="col_3">
            </div>
            <div class="col_3">
                <?php echo $this->kikstartFormRow($this->productForm->get('product')->get('description')); ?>
            </div>
        </div>
        <div class="row">
            <div class="col_3">
                <?php echo $this->kikstartFormRow($this->productForm->get('submit_product')); ?>
            </div>
            <div class="col_3">
            </div>
            <div class="col_3">
                Gesamtpreis VK:&nbsp;<?php echo $this->currencyFormat($this->productTotalPriceSell, 'EUR', null, 'de_DE') ?>
            </div>
            <div class="col_3">
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Produkt: Artikel</legend>
        <!-- Artikel Liste -->
        <div class="row">
            <table class="striped tight sortable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Artikel-Gruppe</th>
                        <th>Lieferant</th>
                        <th>Preis Einkauf</th>
                        <th>Preis Verkauf</th>
                        <th>Beschreibung</th>
                        <th>Anzahl</th>
                    </tr>
                </thead>
                <tbody>
                    <?php if ($this->articles) { ?>
                        <?php foreach ($this->articles as $article) { ?>
                            <tr valign="center">
                                <td>
                                    <a href="<?php echo $this->url('amandia_es_admin_article', array('id' => $article['id'])) ?>">
                                        <?php echo $article['id'] ?>
                                    </a>
                                </td>
                                <td>
                                    <?php echo $article['name'] ?>
                                </td>
                                <td>
                                    <?php echo $this->articleGroupName($article['group']) ?>
                                </td>
                                <td>
                                    <?php echo $this->supplierName($article['supplier']) ?>
                                </td>
                                <td>
                                    <?php echo $article['price_buy'] ?>
                                </td>
                                <td>
                                    <?php echo $article['price_sell'] ?>
                                </td>
                                <td>
                                    <?php echo $article['description'] ?>
                                </td>
                                <td>
                                    <b><?php echo $this->articleKeyVal[$article['id']] ?></b>
                                </td>
                            </tr>
                        <?php } ?>
                    <?php } ?>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col_12">
                <button type="submit" class="small" name="choose_article">Artikel hinzu fügen oder entfernen</button>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Produkt: Material</legend>
        <div class="row">
            <!-- Material Liste -->
            <table class="striped tight sortable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Gruppe</th>
                        <th>Lieferant</th>
                        <th>Geom.</th>
                        <th>Geom.</th>
                        <th>Gewicht</th>
                        <th>Gewicht</th>
                        <th>Preis Einkauf</th>
                        <th>Preis Verkauf</th>
                        <th>Beschreibung</th>
                        <th>Menge</th>
                    </tr>
                </thead>
                <tbody>
                    <?php if ($this->materials) { ?>
                        <?php foreach ($this->materials as $material) { ?>
                            <tr valign="center">
                                <td>
                                    <a href="/aes-material-admin/<?php echo $material['id'] ?>">
                                        <?php echo $material['id'] ?>
                                    </a>
                                </td>
                                <td>
                                    <?php echo $material['name'] ?>
                                </td>
                                <td>
                                    <?php echo $this->materialGroupName($material['group']) ?>
                                </td>
                                <td>
                                    <?php echo $this->supplierName($material['supplier']) ?>
                                </td>
                                <td>
                                    <?php echo $material['measure_scale_geom'] ?>
                                </td>
                                <td>
                                    <?php echo $this->symbolGeom($material['measure_symbol_geom']) ?>
                                </td>
                                <td>
                                    <?php echo $material['measure_scale_weight'] ?>
                                </td>
                                <td>
                                    <?php echo $this->symbolWeight($material['measure_symbol_weight']) ?>
                                </td>
                                <td>
                                    <?php echo $material['price_buy'] ?>
                                </td>
                                <td>
                                    <?php echo $material['price_sell'] ?>
                                </td>
                                <td>
                                    <?php echo $material['description'] ?>
                                </td>
                                <td>
                                    <b><?php echo $this->materialKeyVal[$material['id']] ?></b>
                                </td>
                            </tr>
                        <?php } ?>
                    <?php } ?>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col_12">
                <button type="submit" class="small" name="choose_material">Material hinzu fügen oder entfernen</button>
            </div>
        </div>
    </fieldset>

    <!-- Produkt Services -->
    <fieldset>
        <legend>Produkt: Services</legend>
        <div class="row">
            <!-- Produkt Services Liste -->
            <table class="striped tight sortable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Service Nr</th>
                        <th>Name</th>
                        <th>Gruppe</th>
                        <th>Preis Verkauf</th>
                        <th>Beschreibung</th>
                        <th>Menge</th>
                    </tr>
                </thead>
                <tbody>
                    <?php if ($this->services) { ?>
                        <?php foreach ($this->services as $service) { ?>
                            <tr valign="center">
                                <td>
                                    <?php echo $service['id'] ?>
                                </td>
                                <td>
                                    <a href="/aes-service-admin/<?php echo $service['id'] ?>">
                                        <?php echo $service['service_nr'] ?>
                                    </a>
                                </td>
                                <td>
                                    <?php echo $service['name'] ?>
                                </td>
                                <td>
                                    <?php echo $service['group'] ?>
                                </td>
                                <td>
                                    <?php echo $service['price_sell'] ?>
                                </td>
                                <td>
                                    <?php echo $service['description'] ?>
                                </td>
                                <td>
                                    <b><?php echo $this->serviceKeyVal[$service['id']] ?></b>
                                </td>
                            </tr>
                        <?php } ?>
                    <?php } ?>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col_12">
                <button type="submit" class="small" name="choose_service">Service hinzu fügen oder entfernen</button>
            </div>
        </div>
    </fieldset>

    <!-- Produkt factory article -->
    <fieldset>
        <legend>Produkt: B-Artikel</legend>
        <div class="row">
            <!-- factory article Liste -->
            <table class="striped tight sortable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>B-Artikel Nr</th>
                        <th>Name</th>
                        <th>Gruppe</th>
                        <th>Preis Verkauf</th>
                        <th>Artikel</th>
                        <th>Material</th>
                        <th>Service</th>
                        <th>Beschreibung</th>
                        <th>Menge</th>
                    </tr>
                </thead>
                <tbody>
                    <?php if ($this->factoryArticles) { ?>
                        <?php foreach ($this->factoryArticles as $factoryArticle) { ?>
                            <tr valign="center">
                                <td>
                                    <?php echo $factoryArticle['id'] ?>
                                </td>
                                <td>
                                    <a href="<?php echo $this->url('amandia_es_admin_factoryarticle', array('id' => $factoryArticle['id'])) ?>">
                                        <?php echo $factoryArticle['factory_article_nr'] ?>
                                    </a>
                                </td>
                                <td>
                                    <?php echo $factoryArticle['name'] ?>
                                </td>
                                <td>
                                    <?php echo $this->factoryArticle($factoryArticle['group'], 'groupName') ?>
                                </td>
                                <td>
                                    <?php echo $factoryArticle['price_sell'] ?>
                                </td>
                                <td>
                                    <?php echo $factoryArticle['articles'] ?>
                                </td>
                                <td>
                                    <?php echo $factoryArticle['materials'] ?>
                                </td>
                                <td>
                                    <?php echo $factoryArticle['services'] ?>
                                </td>
                                <td>
                                    <?php echo $factoryArticle['description'] ?>
                                </td>
                                <td>
                                    <b><?php echo $this->factoryArticleKeyVal[$factoryArticle['id']] ?></b>
                                </td>
                            </tr>
                        <?php } ?>
                    <?php } ?>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col_12">
                <button type="submit" class="small" name="choose_factory_article">B-Artikel hinzu fügen oder entfernen</button>
            </div>
        </div>
    </fieldset>

    <?php echo $this->form()->closeTag(); ?><!-- The form around all (without product text) -->

    <?php if ($this->textKeysAvailable && $this->formProductText) { ?>
        <!-- Produkt Shop texte -->
        <fieldset>
            <legend>Produkt: Vertriebstexte</legend>
            <?php $this->formProductText->prepare(); ?>
            <?php echo $this->form()->openTag($this->formProductText); ?>
            <div class="row">
                <div class="col_6">
                    <?php echo $this->kikstartFormRow($this->formProductText->get('text_display_name')); ?>
                </div>
                <div class="col_6">
                </div>
            </div>
            <div class="row">
                <div class="col_12">
                    <?php echo $this->kikstartFormRow($this->formProductText->get('text_short')); ?>
                </div>
            </div>
            <div class="row">
                <div class="col_12">
                    <?php echo $this->kikstartFormRow($this->formProductText->get('text_long')); ?>
                </div>
            </div>
            <div class="row">
                <div class="col_3">
                    <?php echo $this->kikstartFormRow($this->formProductText->get('submit_product_text')); ?>
                </div>
                <div class="col_3">
                </div>
                <div class="col_3">
                </div>
                <div class="col_3">
                </div>
            </div>
            <?php echo $this->form()->closeTag(); ?>
        </fieldset>
    <?php } ?>
<?php } ?>

<div id="dialog-form" title="add materials" style="visibility: hidden;"></div>
<script type="text/javascript">
    CKEDITOR.replace('ckedit_textarea');
</script>