<?php
$this->headScript()->appendFile($this->basePath() . '/js/amandia_es/amandiaes_json_show.js');
$this->headTitle('Produkt Suche');
echo $this->displayMessage($this->message);
//echo $this->printrTextarea($this->paramsSearch);
?>
<?php if (isset($this->searchProductForm)) { ?>
    <?php $this->searchProductForm->prepare(); ?>
    <div class="row">
        <?php echo $this->form()->openTag($this->searchProductForm); ?>
        <fieldset>
            <legend>Produkt Suche</legend>
            <div class="row">
                <div class="col_2">
                    <?php echo $this->kikstartFormRow($this->searchProductForm->get('name')) ?>
                </div>
                <div class="col_4">
                    <?php echo $this->kikstartFormRow($this->searchProductForm->get('group')) ?>
                </div>
                <div class="col_3">
                </div>
                <div class="col_2">
                </div>
                <div class="col_2">
                    <p style="padding: 16px;">
                        <?php echo $this->formSubmit($this->searchProductForm->get('submit')) ?>
                    </p>
                </div>
            </div>
        </fieldset>
        <?php echo $this->form()->closeTag(); ?>
    </div>
    <div class="row">
        <table class="striped tight sortable">
            <thead>
                <tr>
                    <th>Prod.-Name <i class="icon-chevron-up"></i></th>
                    <th>Prod.-Gruppe</th>
                    <th>Preis Verkauf</th>
                    <th>Artikel</th>
                    <th>Material</th>
                    <th>Service</th>
                    <th>B-Artikel</th>
                    <th>Beschreibung</th>
                </tr>
            </thead>
            <tbody>
                <?php if ($this->isProducts) { ?>
                    <?php foreach ($this->paginator->getCurrentItems() as $searchedProduct) { ?>
                        <tr>
                            <td><a href="/aes-product-admin/<?php echo $searchedProduct['id'] ?>"><?php echo $searchedProduct['name'] ?></a></td>
                            <td><?php echo $this->productGroupName($searchedProduct['group']) ?></td>
                            <td><?php echo $searchedProduct['price'] ?></td>
                            <td>
                                <?php $jsonArticles = json_decode($searchedProduct['articles'], true) ?>
                                <?php if ($jsonArticles) { ?>
                                    <a class="button small show_product_article" data-prodid="<?php echo $searchedProduct['id'] ?>">
                                        anzeigen&nbsp;(<?php echo count(array_keys($jsonArticles)) ?>)
                                    </a>
                                <?php } ?>
                            </td>
                            <td>
                                <?php $jsonMats = json_decode($searchedProduct['materials'], true) ?>
                                <?php if ($jsonMats) { ?>
                                    <a class="button small show_product_material" data-prodid="<?php echo $searchedProduct['id'] ?>">
                                        anzeigen&nbsp;(<?php echo count(array_keys($jsonMats)) ?>)
                                    </a>
                                <?php } ?>
                            </td>
                            <td>
                                <?php // echo count(json_decode($searchedProduct['services'], TRUE)) ?>
                                <?php $jsonService = json_decode($searchedProduct['services'], true) ?>
                                <?php if ($jsonService) { ?>
                                    <a class="button small show_product_service" data-prodid="<?php echo $searchedProduct['id'] ?>">
                                        anzeigen&nbsp;(<?php echo count(array_keys($jsonService)) ?>)
                                    </a>
                                <?php } ?>
                            </td>
                            <td>
                                <?php // echo count(json_decode($searchedProduct['factory_articles'], TRUE)) ?>
                                <?php $jsonFactoryArticle = json_decode($searchedProduct['factory_articles'], true) ?>
                                <?php if ($jsonFactoryArticle) { ?>
                                    <a class="button small show_product_factoryarticle" data-prodid="<?php echo $searchedProduct['id'] ?>">
                                        anzeigen&nbsp;(<?php echo count(array_keys($jsonFactoryArticle)) ?>)
                                    </a>
                                <?php } ?>
                            </td>
                            <td><?php echo $searchedProduct['description'] ?></td>
                        </tr>
                    <?php } ?>
                <?php } ?>
            </tbody>
        </table>
    </div>
<?php } ?>
<?php if (isset($this->paginator) && $this->paginator) { ?>

    <?php
    echo $this->paginationControl(
            $this->paginator, 'Sliding', 'pagination/searchDefault', array(
        'route' => 'amandia_es_admin_product_search',
        'page' => $this->page,
        'paramsSearch' => $this->paramsSearch)
    );
    ?>
<?php } ?>

<div id="modal_div"></div>