<?php
$this->headTitle('Service wählen');
echo $this->displayMessage($this->message);
//echo $this->printrTextarea($this->chooseData);
?>
<div class="row">
    <div class="col_1">
        <a href="<?php echo $this->url($this->originRoute, array('id' => $this->originId)) ?>" class="button small"><i class="icon-double-angle-left"></i> zurück</a>
    </div>
    <div class="col_4">
        edit Service f&uuml;r <b><?php echo $this->chooserTypeName . ': ' . $this->chooserName ?></b>
    </div>
    <div class="col_3">
        <form method="post" action="<?php echo $this->url('amandia_es_admin_service_choose', array('origin' => $this->origin)) ?>">
            <select name="group_select" class="select_autosubmit">
                <?php foreach ($this->groupsIdNameAssoc as $groupId => $groupName) { ?>
                    <option value="<?php echo $groupId ?>" <?php echo ($this->group == $groupId) ? 'selected="selected"' : ''; ?>><?php echo $groupName ?></option>
                <?php } ?>
            </select>
        </form>
    </div>
    <div class="col_4">
    </div>
</div>


<table class="striped tight sortable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Service-Nr.</th>
            <th>Service-Name</th>
            <th>Service-Gruppe</th>
            <th>Preis Einkauf</th>
            <th>Preis Verkauf</th>
            <th>Beschreibung</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <?php if (isset($this->servicesCount) && $this->servicesCount) { ?>
        <tbody>
            <?php foreach ($this->paginator->getCurrentItems() as $service) { ?>
                <?php $serviceAmount = array_key_exists($service['id'], $this->chooserServices) ? $this->chooserServices[$service['id']] : 0; ?>

                <tr valign="center">
                    <td>
                        <?php echo $service['id'] ?>
                    </td>
                    <td>
                        <?php echo $service['service_nr'] ?>
                    </td>
                    <td>
                        <?php echo $service['name'] ?>
                    </td>
                    <td>
                        <?php echo $service['group'] ?>
                    </td>
                    <td>
                        <?php echo $service['price_buy'] ?>
                    </td>
                    <td>
                        <?php echo $service['price_sell'] ?>
                    </td>
                    <td>
                        <?php echo $service['description'] ?>
                    </td>
                    <td>
                        <form method="post" action="" style="margin: 0;">
                            <input type="text" name="amount" value="<?php echo $serviceAmount ?>" class="col_2 changeable"/>
                            <input type="hidden" name="id" value="<?php echo $service['id'] ?>"/>
                            <input type="submit" value="übernehmen" name="choose_geom"/>
                        </form>
                    </td>
                </tr>
            <?php } ?>
        </tbody>
    </table>
    <?php
    echo $this->paginationControl(
            $this->paginator, 'Sliding', 'pagination/chooseDefault', array(
        'route' => 'amandia_es_admin_service_choose',
        'origin' => $this->origin,
        'group' => $this->group,
        'page' => $this->page)
    );
    ?>
<?php } else { ?>
    </table>
<?php } ?>