<?php
$this->headTitle('Service');
echo $this->displayMessage($this->message);
//echo $this->printrTextarea($this->entries);
?>
<?php if (isset($this->serviceForm)) { ?>
    <fieldset>
        <legend>Service</legend>
        <?php $this->serviceForm->prepare(); ?>
        <?php echo $this->form()->openTag($this->serviceForm); ?>
        <?php echo $this->formHidden($this->serviceForm->get('service')->get('id')); ?>
        <div class="row">
            <div class="col_3 column">
                <?php echo $this->kikstartFormRow($this->serviceForm->get('service')->get('name')); ?><br>
                <?php echo $this->kikstartFormRow($this->serviceForm->get('service')->get('service_nr')); ?><br>
            </div>
            <div class="col_3 column">
                <?php echo $this->kikstartFormRow($this->serviceForm->get('service')->get('group')); ?>
            </div>
            <div class="col_3 column">
                <?php echo $this->kikstartFormRow($this->serviceForm->get('service')->get('price_buy')); ?>
                <?php echo $this->kikstartFormRow($this->serviceForm->get('service')->get('price_sell')); ?>
            </div>
            <div class="col_3 column">
                <?php echo $this->kikstartFormRow($this->serviceForm->get('service')->get('description')); ?>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col_3 column">
                <?php echo $this->kikstartFormRow($this->serviceForm->get('submit')); ?>
            </div>
            <div class="col_3 column">
                <?php echo $this->form()->closeTag(); ?>
            </div>
            <div class="col_3 column">

            </div>
            <div class="col_3 column">

            </div>
        </div>
    </fieldset>
<?php } ?>