<?php
$this->headTitle('Service Suche');
echo $this->displayMessage($this->message);
//echo $this->printrTextarea($this->paramsSearch);
?>
<?php if (isset($this->searchServiceForm)) { ?>
    <?php $this->searchServiceForm->prepare(); ?>
    <div class="row">
        <?php echo $this->form()->openTag($this->searchServiceForm); ?>
        <fieldset>
            <legend>Service Suche</legend>
            <div class="row">
                <div class="col_3 column">
                    <?php echo $this->kikstartFormRow($this->searchServiceForm->get('name')) ?>
                </div>
                <div class="col_3 column">
                    <?php echo $this->kikstartFormRow($this->searchServiceForm->get('service_nr')) ?>
                </div>
                <div class="col_3 column">
                    <?php echo $this->kikstartFormRow($this->searchServiceForm->get('group')) ?>
                </div>
                <div class="col_3 column">
                    <p style="padding: 8px;">
                        <?php echo $this->formSubmit($this->searchServiceForm->get('submit')) ?>
                    </p>
                </div>
            </div>
<!--            <br>
            <div class="row">
                <div class="col_3 column">
                </div>
                <div class="col_3 column">
                </div>
                <div class="col_3 column">
                </div>
                <div class="col_3 column">
                </div>
            </div>-->
        </fieldset>
        <?php echo $this->form()->closeTag(); ?>
    </div>
    <div class="row">
        <table class="striped tight sortable">
            <thead>
                <tr>
                    <th>Service-Nr.</th>
                    <th>Service-Name</th>
                    <th>Service-Gruppe</th>
                    <th>Preis Einkauf</th>
                    <th>Preis Verkauf</th>
                    <th>Beschreibung</th>
                </tr>
            </thead>
            <tbody>
                <?php if ($this->serviceCount) { ?>
                    <?php foreach ($this->paginator->getCurrentItems() as $searchedservice) { ?>
                        <tr>
                            <td><?php echo $searchedservice['service_nr'] ?></td>
                            <td><a href="<?php echo $this->url('amandia_es_admin_service', array('id' => $searchedservice['id'])) ?>"><?php echo $searchedservice['name'] ?></a></td>
                            <td>ViewHelperService(<?php echo $searchedservice['group'] ?>, 'group')</td>
                            <td><?php echo $searchedservice['price_buy'] ?></td>
                            <td><?php echo $searchedservice['price_sell'] ?></td>
                            <td><?php echo $searchedservice['description'] ?></td>
                        </tr>
                    <?php } ?>
                <?php } ?>
            </tbody>
        </table>
    </div>
<?php } ?>
<?php if (isset($this->paginator) && $this->paginator) { ?>

    <?php
    echo $this->paginationControl(
            $this->paginator, 'Sliding', 'pagination/searchDefault', array(
        'route' => 'amandia_es_admin_service_search',
        'page' => $this->page,
        'paramsSearch' => $this->paramsSearch)
    );
    ?>
<?php } ?>
