<?php
$this->headTitle('Kunde wählen');
echo $this->displayMessage($this->message);
//echo $this->printrTextarea($this->chooseData);
?>
<div class="row">
    <div class="col_2">
        <a href="<?php echo $this->url($this->refererRoute, array('id' => $this->origin)) ?>" class="button small"><i class="icon-double-angle-left"></i> zurück</a>
    </div>
    <div class="col_3">
        <form method="post" action="<?php echo $this->url('amandia_es_admin_customer_choose', array('origintype' => $this->origintype, 'origin' => $this->origin)) ?>">
            <select name="group_select" class="select_autosubmit">
                <?php foreach ($this->groupsIdNameAssoc as $groupId => $groupName) { ?>
                    <option value="<?php echo $groupId ?>" <?php echo ($this->group == $groupId) ? 'selected="selected"' : ''; ?>><?php echo $groupName ?></option>
                <?php } ?>
            </select>
        </form>
    </div>
    <div class="col_7">
    </div>
</div>

<?php if (isset($this->isCustomers) && $this->isCustomers) { ?>

    <table class="striped tight sortable">
        <thead>
            <tr>
                <th>Kd.-Nr.</th>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>Firma</th>
                <th>PLZ</th>
                <th>Stadt</th>
                <th>Land</th>
                <th>Email</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($this->paginator->getCurrentItems() as $customer) { ?>
                <tr><!--  valign="center" -->
                    <td>
                        <?php echo $customer['customer_nr'] ?>
                    </td>
                    <td>
                        <?php echo $customer['name_first'] ?>
                    </td>
                    <td>
                        <?php echo $customer['name_last'] ?>
                    </td>
                    <td>
                        <?php echo $customer['name_company'] ?>
                    </td>
                    <td>
                        <?php echo $customer['zip'] ?>
                    </td>
                    <td>
                        <?php echo $customer['city'] ?>
                    </td>
                    <td>
                        <?php echo $customer['country'] ?>
                    </td>
                    <td>
                        <?php echo $customer['email'] ?>
                    </td>
                    <td>
                        <a href="?chooseCustomer=<?php echo $customer['id'] ?>" class="button medium">auswählen</a>
                    </td>
                </tr>
            <?php } ?>
        </tbody>
    </table>

    <?php
    echo $this->paginationControl(
            $this->paginator, 'Sliding', 'pagination/chooseAdvanced', array(
        'route' => 'amandia_es_admin_customer_choose',
        'origintype' => $this->origintype,
        'origin' => $this->origin,
        'group' => $this->group,
        'page' => $this->page)
    );
    ?>
<?php } ?>


