<?php
$this->headTitle('Kunde');
echo $this->displayMessage($this->message);
//echo $this->printrTextarea($this->entries);
?>
<?php if (isset($this->customerForm)) { ?>
    <fieldset>
        <legend>Kunde</legend>
        <?php $this->customerForm->prepare(); ?>
        <?php echo $this->form()->openTag($this->customerForm); ?>
        <?php echo $this->formHidden($this->customerForm->get('customer')->get('id')); ?>
        <div class="row">
            <div class="col_3">
                <?php echo $this->kikstartFormRow($this->customerForm->get('customer')->get('customer_nr')); ?>
                <?php echo $this->kikstartFormRow($this->customerForm->get('customer')->get('name_company')); ?>
                <?php echo $this->kikstartFormRow($this->customerForm->get('customer')->get('group')); ?>
            </div>
            <div class="col_3">
                <?php echo $this->kikstartFormRow($this->customerForm->get('customer')->get('name_first')); ?>
                <?php echo $this->kikstartFormRow($this->customerForm->get('customer')->get('name_last')); ?>
                <?php echo $this->kikstartFormRow($this->customerForm->get('customer')->get('str')); ?>
                <?php echo $this->kikstartFormRow($this->customerForm->get('customer')->get('str_nr')); ?>
            </div>
            <div class="col_3">
                <?php echo $this->kikstartFormRow($this->customerForm->get('customer')->get('zip')); ?>
                <?php echo $this->kikstartFormRow($this->customerForm->get('customer')->get('city')); ?>
                <?php echo $this->kikstartFormRow($this->customerForm->get('customer')->get('country')); ?>
            </div>
            <div class="col_3">
            </div>
        </div>
        <legend><b>abweichende Rechnungsadresse</b></legend>
        <div class="row">
            <div class="col_3">
                <?php echo $this->kikstartFormRow($this->customerForm->get('customer')->get('sec_name_first')); ?>
                <?php echo $this->kikstartFormRow($this->customerForm->get('customer')->get('sec_name_last')); ?>
                <?php echo $this->kikstartFormRow($this->customerForm->get('customer')->get('sec_name_company')); ?>
            </div>
            <div class="col_3">
                <?php echo $this->kikstartFormRow($this->customerForm->get('customer')->get('sec_str')); ?>
                <?php echo $this->kikstartFormRow($this->customerForm->get('customer')->get('sec_str_nr')); ?>
            </div>
            <div class="col_3">
                <?php echo $this->kikstartFormRow($this->customerForm->get('customer')->get('sec_zip')); ?>
                <?php echo $this->kikstartFormRow($this->customerForm->get('customer')->get('sec_city')); ?>
                <?php echo $this->kikstartFormRow($this->customerForm->get('customer')->get('sec_country')); ?>
            </div>
            <div class="col_3">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col_3">
                <?php echo $this->kikstartFormRow($this->customerForm->get('submit')); ?>
            </div>
            <div class="col_3">
            </div>
            <div class="col_3">

            </div>
            <div class="col_3">

            </div>
        </div>
        <?php echo $this->form()->closeTag(); ?>
    </fieldset>
<?php } ?>
