<?php
$this->headTitle('Kunden-Suche');
echo $this->displayMessage($this->message);
//echo $this->printrTextarea($this->paramsSearch);
?>
<?php if (isset($this->searchCustomerForm)) { ?>
    <?php $this->searchCustomerForm->prepare(); ?>
    <div class="row">
        <?php echo $this->form()->openTag($this->searchCustomerForm); ?>
        <fieldset>
            <legend>Kunden-Suche</legend>
            <div class="row">
                <div class="col_3">
                    <?php echo $this->kikstartFormRow($this->searchCustomerForm->get('customer_nr')) ?>
                </div>
                <div class="col_3">
                    <?php echo $this->kikstartFormRow($this->searchCustomerForm->get('name_first')) ?>
                </div>
                <div class="col_3">
                    <?php echo $this->kikstartFormRow($this->searchCustomerForm->get('name_last')) ?>
                </div>
                <div class="col_3">
                    <?php echo $this->kikstartFormRow($this->searchCustomerForm->get('group')) ?>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col_3">
                    <?php echo $this->kikstartFormRow($this->searchCustomerForm->get('str')) ?>
                </div>
                <div class="col_3">
                    <?php echo $this->kikstartFormRow($this->searchCustomerForm->get('zip')) ?>
                </div>
                <div class="col_3">
                    <?php echo $this->kikstartFormRow($this->searchCustomerForm->get('city')) ?>
                </div>
                <div class="col_3">
                    <?php echo $this->formSubmit($this->searchCustomerForm->get('submit')) ?>
                </div>
            </div>
        </fieldset>
        <?php echo $this->form()->closeTag(); ?>
    </div>
    <div class="row">
        <table class="striped tight sortable">
            <thead>
                <tr>
                    <th>Kunden-Nr. <i class="icon-chevron-up"></i></th>
                    <th>Vorname</th>
                    <th>Nachname</th>
                    <th>Straße</th>
                    <th>PLZ</th>
                    <th>Stadt</th>
                    <th>CRM-Action count</th>
                </tr>
            </thead>
            <tbody>
                <?php if ($this->customerCount) { ?>
                    <?php foreach ($this->paginator->getCurrentItems() as $searchedCustomer) { ?>
                        <tr>
                            <td><a href="/aes-customer-admin/<?php echo $searchedCustomer['id'] ?>"><?php echo $searchedCustomer['customer_nr'] ?></a></td>
                            <td><?php echo $searchedCustomer['name_first'] ?></td>
                            <td><?php echo $searchedCustomer['name_last'] ?></td>
                            <td><?php echo $searchedCustomer['str'] . ' ' . $searchedCustomer['str_nr'] ?></td>
                            <td><?php echo $searchedCustomer['zip'] ?></td>
                            <td><?php echo $searchedCustomer['city'] ?></td>
                            <td><?php echo $searchedCustomer['executed_crm_actions'] ?></td>
                        </tr>
                    <?php } ?>
                <?php } ?>
            </tbody>
        </table>
    </div>
<?php } ?>
<?php if (isset($this->paginator) && $this->paginator) { ?>
    <?php
    echo $this->paginationControl(
            $this->paginator, 'Sliding', 'pagination/searchDefault', array(
        'route' => 'amandia_es_admin_customer_search',
        'page' => $this->page,
        'paramsSearch' => $this->paramsSearch)
    );
    ?>
<?php } ?>
