<?php
$this->headTitle('Auftrag');
$this->headScript()->appendFile($this->basePath() . '/js/amandia_es/amandiaes_customer_select.js');
$this->headScript()->appendFile($this->basePath() . '/js/amandia_es/amandiaes_json_show.js');
echo $this->displayMessage($this->message);
echo $this->printrTextarea($this->postarr);
?>
<?php if (isset($this->orderForm)) { ?>
    <?php $this->orderForm->prepare(); ?>
    <?php echo $this->form()->openTag($this->orderForm); ?>
    <fieldset>
        <legend>Auftrag: Details</legend>
        <div class="defaultsubmitbutton"><input type="submit" name="rumpel" value="hidden"></div>
        <?php echo $this->formHidden($this->orderForm->get('order')->get('id')); ?>
        <div class="row">
            <div class="col_3 column">
                <?php echo $this->kikstartFormRow($this->orderForm->get('order')->get('order_nr')); ?>
                <?php echo $this->kikstartFormRow($this->orderForm->get('order')->get('cost_center')); ?>
            </div>
            <div class="col_3 column">
                <label>Kunde</label>
                <!--<input type="text" id="customer_nr" value="<?php // echo $this->customerNr($this->order['order']['customer_id'])       ?>">-->
                <?php // echo $this->formHidden($this->orderForm->get('order')->get('customer_id')); ?>
                <?php echo $this->customerDetails($this->order['customer_id'], 1) ?>
                <button type="submit" name="choose_customer" class="small">anderen wählen <i class="icon-user"></i></button>
                <a href="<?php echo $this->url('amandia_es_admin_customer', array('id' => $this->order['customer_id'])) ?>" class="button small">Kunde&nbsp;<i class="icon-user"></i></a>
            </div>
            <div class="col_3 column">
                <?php echo $this->kikstartFormRow($this->orderForm->get('order')->get('shipment')); ?>
            </div>
            <div class="col_3 column">
                <?php echo $this->kikstartFormRow($this->orderForm->get('order')->get('description')); ?>
            </div>
        </div>
        <hr>
        <div class="row">
            <!--<div class="span2"></div>-->
            <div class="col_2 column">
                <?php echo $this->formHidden($this->orderForm->get('order')->get('user_create')); // wird im Controller gesetzt ?>
                <?php echo $this->formHidden($this->orderForm->get('order')->get('user_last_editor')->setValue($this->userLastEditor)); ?>
                <?php echo $this->kikstartFormRow($this->orderForm->get('submit')); ?>
            </div>
            <div class="col_2 column">
                <?php echo $this->kikstartFormRow($this->orderForm->get('start')); ?>
            </div>
            <div class="col_2 column">
                <?php echo $this->kikstartFormRow($this->orderForm->get('cancel')); ?>
            </div>
            <div class="col_2 column">
                <?php echo $this->kikstartFormRow($this->orderForm->get('finish')); ?>
            </div>
            <div class="col_2 column">
                <?php echo $this->kikstartFormRow($this->orderForm->get('copy')); ?>
            </div>
            <div class="col_2 column">
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Auftrag: Produkte</legend>
        <div class="row">
            <!-- Produkt Liste -->
            <table class="striped tight sortable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Gruppe</th>
                        <th>Preis zus.</th>
                        <th>Artikel</th>
                        <th>Materialien</th>
                        <th>Services</th>
                        <th>B-Artikel</th>
                        <th>Beschreibung</th>
                        <th>Anzahl</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($this->products as $product) { ?>
                    <tr id="<?php echo $product['id'] ?>"><!-- $product['id'] to insert BA's after this <tr> ...besser BA's-Anzeige im jQuery-Modal!!! -->
                            <td>
                                <a href="/aes-product-admin/<?php echo $product['id'] ?>">
                                    <?php echo $product['id'] ?>
                                </a>
                            </td>
                            <td>
                                <?php echo $product['name'] ?>
                            </td>
                            <td>
                                <?php echo $this->productGroupName($product['group']) ?>
                            </td>
                            <td>
                                <?php echo $product['price'] ?>
                            </td>
                            <td>
                                <?php $jsonProds = json_decode($product['articles'], true) ?>
                                <?php if ($jsonProds) { ?>
                                    <a class="button small show_articles" data-prodid="<?php echo $product['id'] ?>">
                                    anzeigen&nbsp;(<?php echo count(array_keys($jsonProds)) ?>)
                                    </a>
                                <?php } ?>
                            </td>
                            <td>
                                <?php $jsonMats = json_decode($product['materials'], true) ?>
                                <?php if ($jsonMats) { ?>
                                    <a class="button small show_materials" data-prodid="<?php echo $product['id'] ?>">
                                    anzeigen&nbsp;(<?php echo count(array_keys($jsonMats)) ?>)
                                    </a>
                                <?php } ?>
                            </td>
                            <td>
                                JavaScript json_show:<?php echo $product['services'] ?>
                            </td>
                            <td>
                                JavaScript json_show:<?php echo $product['factory_articles'] ?>
                            </td>
                            <td>
                                <?php echo $product['description'] ?>
                            </td>
                            <td>
                                <b><?php echo $this->productKeyVal[$product['id']] ?></b>
                            </td>
                        </tr>
                    <?php } ?>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col_12">
                <button type="submit" class="small" name="choose_products">Produkte hinzu fügen oder entfernen</button>
            </div>
        </div>
    </fieldset>
    <?php echo $this->form()->closeTag(); ?>
<?php } ?>
<div id="modal_div" style="display: none;">blahhhhhhhh</div>
<div id="ajaxoverlay"></div><div id="ajaxstatus"></div>