<?php
$this->headTitle('Auftrag Suche');
echo $this->displayMessage($this->message);
//echo $this->printrTextarea($this->paramsSearch);
?>
<?php if (isset($this->searchOrderForm)) { ?>
    <?php $this->searchOrderForm->prepare(); ?>
    <div class="row">
        <?php echo $this->form()->openTag($this->searchOrderForm); ?>
        <fieldset>
            <legend>Auftrag Suche</legend>
            <div class="row">
                <div class="col_3 column">
                    <?php echo $this->kikstartFormRow($this->searchOrderForm->get('order_nr')) ?>
                </div>
                <div class="col_3 column">
                    <?php echo $this->kikstartFormRow($this->searchOrderForm->get('customer_nr')) ?>
                </div>
                <div class="col_3 column">
                    <?php echo $this->kikstartFormRow($this->searchOrderForm->get('user_create')) ?>
                </div>
                <div class="col_3 column">
                    <?php echo $this->kikstartFormRow($this->searchOrderForm->get('cost_center')) ?>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col_3 column">
                    <?php echo $this->kikstartFormRow($this->searchOrderForm->get('datetime_from')) ?>
                </div>
                <div class="col_3 column">
                    <?php echo $this->kikstartFormRow($this->searchOrderForm->get('datetime_to')) ?>
                </div>
                <div class="col_3 column">
                    <?php echo $this->kikstartFormRow($this->searchOrderForm->get('finished')) ?>
                </div>
                <div class="col_3 column">
                    <p style="padding: 16px;">
                        <?php echo $this->formSubmit($this->searchOrderForm->get('submit')) ?>
                    </p>
                </div>
            </div>
        </fieldset>
        <?php echo $this->form()->closeTag(); ?>
    </div>
    <div class="row">
        <table class="striped tight sortable">
            <thead>
                <tr>
                    <th>Auftr.-Nr. <i class="icon-chevron-up"></i></th>
                    <th>Kunden-Nr.</th>
                    <th>Datum erstellt</th>
                    <th>Datum Start</th>
                    <th>Datum beendet</th>
                    <th>Kostenstelle</th>
                    <th>Beschreibung</th>
                    <th>Produkte</th>
                    <!--<th>BA's</th>-->
                </tr>
            </thead>
            <tbody>
                <?php if ($this->isOrders) { ?>
                    <?php foreach ($this->paginator->getCurrentItems() as $searchedOrder) { ?>
                        <tr>
                            <td><a href="/aes-order-admin/<?php echo $searchedOrder['id'] ?>"><?php echo $searchedOrder['order_nr'] ?></a></td>
                            <td><?php echo $this->customerNr($searchedOrder['customer_id']) ?></td>
                            <td><?php echo $searchedOrder['datetime_creation'] ?></td>
                            <td><?php echo $searchedOrder['datetime_start'] ?></td>
                            <td><?php echo $searchedOrder['datetime_finish'] ?></td>
                            <td><?php echo $this->costCenterName($searchedOrder['cost_center']) ?></td>
                            <td><?php echo $searchedOrder['description'] ?></td>
                            <td><?php echo count(json_decode($searchedOrder['products'], TRUE)) ?></td>
                            <!--<td><?php // echo $this->countFactoryOrderInOrder($searchedOrder['id']) ?></td>-->
                        </tr>
                    <?php } ?>
                <?php } ?>
            </tbody>
        </table>
    </div>
<?php } ?>
<?php if (isset($this->paginator) && $this->paginator) { ?>

    <?php
    echo $this->paginationControl(
            $this->paginator, 'Sliding', 'pagination/searchDefault', array(
        'route' => 'amandia_es_admin_order_search',
        'page' => $this->page,
        'paramsSearch' => $this->paramsSearch)
    );
    ?>
<?php } ?>