<?php
/**
 * Pagination control view script
 * 
 * wird fuer alle choose Seiten verwendet
 * 
 * wenn die Herkunftseite drin sein soll wird ein weiterer Parameter (z.B. [/parent/:id]) benoetigt
 * ...Produkte werden nur zu Auftraegen zugefuegt
 * ...Material & Artikel werden nur zu Produkten zugefuegt
 * & Kunden (?) 
 * 
 * @package    AmandiaES
 */
//$urlParams = $this->getRequest()->getParams(); // Zend\View\HelperPluginManager::get was unable to fetch or create an instance for getRequest
//print_r($urlParams, true);
?>
<div>
    <ul class="pagination">
        <!-- links Pfeil -->
        <?php if (isset($this->previous)) { ?>
            <?php $url = $this->url($this->route, array('origin' => $origin, 'page' => $this->previous, 'group' => $group)); ?>
            <li><a href="<?php echo $url; ?>">&laquo;</a></li>
        <?php } else { ?>
            <li class="disabled"><a>&laquo;</a></li>
        <?php } ?>

        <!-- Seiten -->
        <?php foreach ($this->pagesInRange as $page) { ?>
            <?php if ($page != $this->current) { ?>
                <?php $url = $this->url($this->route, array('origin' => $origin, 'page' => $page, 'group' => $group)); ?>
                <li><a href="<?php echo $url; ?>"><?php echo $page; ?></a></li>
            <?php } else { ?>
                <li class="active"><a><?php echo $page; ?></a></li>
            <?php } ?>
        <?php } ?>

        <!-- rechts Pfeil -->
        <?php if (isset($this->next)) { ?>
            <?php $url = $this->url($this->route, array('origin' => $origin, 'page' => $this->next, 'group' => $group)); ?>
            <li><a href="<?php echo $url; ?>">&raquo;</a></li>
        <?php } else { ?>
            <li class="disabled"><a>&raquo;</a></li>
        <?php } ?>
    </ul>
</div>
