<?php
/**
 * Pagination control view script
 * 
 * @package    AmandiaES
 */
//$urlParams = $this->getRequest()->getParams(); // Zend\View\HelperPluginManager::get was unable to fetch or create an instance for getRequest
//print_r($this->paramsSearch);
//$paramKey = '';
//foreach ($this->paramsSearch as $paramKey => $paramValue) {
//    // key must end with '_search'
//    if(strpos($paramKey, '_search')) {
//        $paramKey = $paramKey;
//        break;
//    }
//}
//$paramString = '?';
//foreach ($this->paramsSearch[$paramKey] as $key => $value) {
//    $paramString .= $paramKey . '[' . $key . ']=' . $value . '&';
//}

$paramString = '?';
foreach ($this->paramsSearch as $key => $value) {
    $paramString .= $key . '=' . $value . '&';
}
?>
<div class="pagination"> <!-- bootstrap 2 -->
    <ul class="pagination"> <!-- bootstrap 3 -->
        <!-- links Pfeil -->
        <?php if (isset($this->previous)) { ?>
            <?php $url = $this->url($this->route, array('page' => $this->previous)); ?>
            <li><a href="<?php echo $url . $paramString; ?>">&laquo;</a></li>
        <?php } else { ?>
            <li class="disabled"><a>&laquo;</a></li>
        <?php } ?>

        <!-- Seiten -->
        <?php foreach ($this->pagesInRange as $page) { ?>
            <?php if ($page != $this->current) { ?>
                <?php $url = $this->url($this->route, array('page' => $page)); ?>
                <li><a href="<?php echo $url . $paramString; ?>"><?php echo $page; ?></a></li>
            <?php } else { ?>
                <li class="active"><a><?php echo $page; ?></a></li>
            <?php } ?>
        <?php } ?>

        <!-- rechts Pfeil -->
        <?php if (isset($this->next)) { ?>
            <?php $url = $this->url($this->route, array('page' => $this->next)); ?>
            <li><a href="<?php echo $url . $paramString; ?>">&raquo;</a></li>
        <?php } else { ?>
            <li class="disabled"><a>&raquo;</a></li>
        <?php } ?>
    </ul>
</div>
