<?php
$this->headTitle('B-Artikel wählen');
echo $this->displayMessage($this->message);
//echo $this->printrTextarea($this->chooseData);
?>
<div class="row">
    <div class="col_1">
        <a href="<?php echo $this->url($this->originRoute, array('id' => $this->originId)) ?>" class="button small"><i class="icon-double-angle-left"></i> zurück</a>
    </div>
    <div class="col_4">
        edit B-Artikel f&uuml;r <b><?php echo $this->chooserTypeName . ': ' . $this->chooserName ?></b>
    </div>
    <div class="col_3">
        <form method="post" action="<?php echo $this->url('amandia_es_admin_factoryarticle_choose', array('origin' => $this->origin)) ?>">
            <select name="group_select" class="select_autosubmit">
                <?php foreach ($this->groupsIdNameAssoc as $groupId => $groupName) { ?>
                    <option value="<?php echo $groupId ?>" <?php echo ($this->group == $groupId) ? 'selected="selected"' : ''; ?>><?php echo $groupName ?></option>
                <?php } ?>
            </select>
        </form>
    </div>
    <div class="col_3">
    </div>
    <div class="col_4">
    </div>
</div>


<table class="striped tight sortable">
    <thead>
        <tr>
            <th>ID</th>
            <th>B-Artikel Nr</th>
            <th>Name</th>
            <th>Gruppe</th>
            <th>Preis Verkauf</th>
            <th>Artikel</th>
            <th>Material</th>
            <th>Service</th>
            <th>Beschreibung</th>
            <th>Menge</th>
        </tr>
    </thead>
    <?php if (isset($this->faCount) && $this->faCount) { ?>
        <tbody>
            <?php foreach ($this->paginator->getCurrentItems() as $factoryArticle) { ?>
                <?php $factoryArticleCount = array_key_exists($factoryArticle['id'], $this->chooserFactoryArticles) ? $this->chooserFactoryArticles[$factoryArticle['id']] : 0; ?>

                <tr valign="center">
                    <td>
                        <?php echo $factoryArticle['id'] ?>
                    </td>
                    <td>
                        <?php echo $factoryArticle['factory_article_nr'] ?>
                    </td>
                    <td>
                        <?php echo $factoryArticle['name'] ?>
                    </td>
                    <td>
                        <?php echo $factoryArticle['group'] ?><!-- $this->factoryArticleGroupName($factoryArticle['group']) -->
                    </td>
                    <td>
                        <?php echo $factoryArticle['price_sell'] ?>
                    </td>
                    <td>
                        <?php echo $factoryArticle['articles'] ?>
                    </td>
                    <td>
                        <?php echo $factoryArticle['materials'] ?>
                    </td>
                    <td>
                        <?php echo $factoryArticle['services'] ?>
                    </td>
                    <td>
                        <?php echo $factoryArticle['description'] ?>
                    </td>
                    <td>
                        <a href="?chooseAdd=<?php echo $factoryArticle['id'] ?>" class="button green">+</a>
                        <a href="?chooseCull=<?php echo $factoryArticle['id'] ?>" class="button red">-</a>
                        <b><?php echo $factoryArticleCount ?></b>
                    </td>
                </tr>
            <?php } ?>
        </tbody>
    </table>
    <?php
    echo $this->paginationControl(
            $this->paginator, 'Sliding', 'pagination/chooseDefault', array(
        'route' => 'amandia_es_admin_factoryarticle_choose',
        'origin' => $this->origin,
        'group' => $this->group,
        'page' => $this->page)
    );
    ?>
<?php } else { ?>
    </table>
<?php } ?>