<?php
$this->headTitle('B-Artikel');
$this->headScript()->appendFile($this->basePath() . '/js/amandia_es/amandiaes_json_show.js');
echo $this->displayMessage($this->message);
//echo $this->printrTextarea($this->test);
?>
<?php if ($this->factoryArticeForm) { ?>
    <?php $this->factoryArticeForm->prepare(); ?>
    <?php echo $this->form()->openTag($this->factoryArticeForm); ?>
    <fieldset>
        <legend>B-Artikel: Details</legend>
        <?php echo $this->formHidden($this->factoryArticeForm->get('factory_article')->get('id')); ?>
        <div class="row">
            <div class="col_3">
                <?php echo $this->kikstartFormRow($this->factoryArticeForm->get('factory_article')->get('factory_article_nr')); ?>
                <?php echo $this->kikstartFormRow($this->factoryArticeForm->get('factory_article')->get('description')); ?>
            </div>
            <div class="col_3">
                <?php echo $this->kikstartFormRow($this->factoryArticeForm->get('factory_article')->get('name')); ?>
                <?php echo $this->kikstartFormRow($this->factoryArticeForm->get('factory_article')->get('price_sell')); ?>
            </div>
            <div class="col_3">
                <?php echo $this->kikstartFormRow($this->factoryArticeForm->get('factory_article')->get('group')); ?>
            </div>
            <div class="col_3">
                <?php echo $this->kikstartFormRow($this->factoryArticeForm->get('factory_article')->get('measure_scale_geom')); ?>
                <?php echo $this->kikstartFormRow($this->factoryArticeForm->get('factory_article')->get('measure_symbol_geom')); ?>
                <?php echo $this->kikstartFormRow($this->factoryArticeForm->get('factory_article')->get('measure_scale_weight')); ?>
                <?php echo $this->kikstartFormRow($this->factoryArticeForm->get('factory_article')->get('measure_symbol_weight')); ?>
            </div>
        </div>
        <div class="row">
            <div class="col_2">
                <?php echo $this->kikstartFormRow($this->factoryArticeForm->get('submit')); ?>
            </div>
            <div class="col_2">
                <button name="factory_article_new" value="1" class="small">kopieren (current unused)</button>
            </div>
            <div class="col_4">
                <button name="factory_order_new" value="1" class="small">B-Auftrag (current unused)</button>
            </div>
            <div class="col_4">
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>B-Artikel: Artikel</legend>
        <!-- Artikel Liste -->
        <div class="row">
            <table class="striped tight sortable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Artikel-Gruppe</th>
                        <th>Lieferant</th>
                        <th>Preis Einkauf</th>
                        <th>Preis Verkauf</th>
                        <th>Beschreibung</th>
                        <th>Anzahl</th>
                    </tr>
                </thead>
                <tbody>
                    <?php if ($this->articles) { ?>
                        <?php foreach ($this->articles as $article) { ?>
                            <tr valign="center">
                                <td>
                                    <a href="/aes-article-admin/<?php echo $article['id'] ?>">
                                        <?php echo $article['id'] ?>
                                    </a>
                                </td>
                                <td>
                                    <?php echo $article['name'] ?>
                                </td>
                                <td>
                                    <?php echo $this->articleGroupName($article['group']) ?>
                                </td>
                                <td>
                                    <?php echo $this->supplierName($article['supplier']) ?>
                                </td>
                                <td>
                                    <?php echo $article['price_buy'] ?>
                                </td>
                                <td>
                                    <?php echo $article['price_sell'] ?>
                                </td>
                                <td>
                                    <?php echo $article['description'] ?>
                                </td>
                                <td>
                                    <b><?php echo $this->articleKeyVal[$article['id']] ?></b>
                                </td>
                            </tr>
                        <?php } ?>
                    <?php } ?>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col_12">
                <button type="submit" class="small" name="choose_article">Artikel hinzu fügen oder entfernen</button>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>B-Artikel: Material</legend>
        <div class="row">
            <!-- Material Liste -->
            <table class="striped tight sortable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Gruppe</th>
                        <th>Lieferant</th>
                        <th>Größe</th>
                        <th>Geom.</th>
                        <th>Gewicht</th>
                        <th>Geom.</th>
                        <th>Preis Einkauf</th>
                        <th>Preis Verkauf</th>
                        <th>Beschreibung</th>
                        <th>Menge</th>
                    </tr>
                </thead>
                <tbody>
                    <?php if ($this->materials) { ?>
                        <?php foreach ($this->materials as $material) { ?>
                            <tr valign="center">
                                <td>
                                    <a href="/aes-material-admin/<?php echo $material['id'] ?>">
                                        <?php echo $material['id'] ?>
                                    </a>
                                </td>
                                <td>
                                    <?php echo $material['name'] ?>
                                </td>
                                <td>
                                    <?php echo $this->materialGroupName($material['group']) ?>
                                </td>
                                <td>
                                    <?php echo $this->supplierName($material['supplier']) ?>
                                </td>
                                <td>
                                    <?php echo $material['measure_scale_geom'] ?>
                                </td>
                                <td>
                                    <?php echo $this->symbolGeom($material['measure_symbol_geom']) ?>
                                </td>
                                <td>
                                    <?php echo $material['measure_scale_weight'] ?>
                                </td>
                                <td>
                                    <?php echo $this->symbolWeight($material['measure_symbol_weight']) ?>
                                </td>
                                <td>
                                    <?php echo $material['price_buy'] ?>
                                </td>
                                <td>
                                    <?php echo $material['price_sell'] ?>
                                </td>
                                <td>
                                    <?php echo $material['description'] ?>
                                </td>
                                <td>
                                    <b><?php echo $this->materialKeyVal[$material['id']] ?></b>
                                </td>
                            </tr>
                        <?php } ?>
                    <?php } ?>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col_12">
                <button type="submit" class="small" name="choose_material">Material hinzu fügen oder entfernen</button>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>B-Artikel - Services</legend>
        <div class="row">
            <!-- Produkt Services Liste -->
            <table class="striped tight sortable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Service Nr</th>
                        <th>Name</th>
                        <th>Gruppe</th>
                        <th>Preis Verkauf</th>
                        <th>Beschreibung</th>
                        <th>Menge</th>
                    </tr>
                </thead>
                <tbody>
                    <?php if ($this->services) { ?>
                        <?php foreach ($this->services as $service) { ?>
                            <tr valign="center">
                                <td>
                                    <?php echo $service['id'] ?>
                                </td>
                                <td>
                                    <a href="/aes-service-admin/<?php echo $service['id'] ?>">
                                        <?php echo $service['service_nr'] ?>
                                    </a>
                                </td>
                                <td>
                                    <?php echo $service['name'] ?>
                                </td>
                                <td>
                                    <?php echo $service['group'] ?>
                                </td>
                                <td>
                                    <?php echo $service['price_sell'] ?>
                                </td>
                                <td>
                                    <?php echo $service['description'] ?>
                                </td>
                                <td>
                                    <b><?php echo $this->serviceKeyVal[$service['id']] ?></b>
                                </td>
                            </tr>
                        <?php } ?>
                    <?php } ?>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col_12">
                <button type="submit" class="small" name="choose_service">Service hinzu fügen oder entfernen</button>
            </div>
        </div>
    </fieldset>
    <?php echo $this->form()->closeTag(); ?>
<?php } ?>
<?php if ($this->factoryOrders) { ?>

<?php } ?>
<div id="modal_div" style="display: none;"></div>
<div id="ajaxoverlay"></div><div id="ajaxstatus"></div>