<?php
$this->headScript()->appendFile($this->basePath() . '/js/amandia_es/amandiaes_json_show.js');
$this->headTitle('B-Artikel Suche');
echo $this->displayMessage($this->message);
//echo $this->printrTextarea($this->paramsSearch);
?>
<?php if (isset($this->searchFactoryArticleForm)) { ?>
    <?php $this->searchFactoryArticleForm->prepare(); ?>
    <div class="row">
        <?php echo $this->form()->openTag($this->searchFactoryArticleForm); ?>
        <fieldset>
            <legend>B-Artikel Suche</legend>
            <div class="row">
                <div class="col_3">
                    <?php echo $this->kikstartFormRow($this->searchFactoryArticleForm->get('factory_article_nr')) ?>
                </div>
                <div class="col_3">
                    <?php echo $this->kikstartFormRow($this->searchFactoryArticleForm->get('name')) ?>
                </div>
                <div class="col_3">
                    <?php echo $this->kikstartFormRow($this->searchFactoryArticleForm->get('group')) ?>
                </div>
                <div class="col_3">
                    <p style="padding: 8px 0 0 22px;">
                        <?php echo $this->formSubmit($this->searchFactoryArticleForm->get('submit')) ?>
                    </p>
                </div>
            </div>
            <!--            <div class="row">
                            <div class="col_3">
                            </div>
                            <div class="col_3">
                            </div>
                            <div class="col_3">
                            </div>
                            <div class="col_3">
                            </div>
                        </div>-->
        </fieldset>
        <?php echo $this->form()->closeTag(); ?>
    </div>
    <div class="row">
        <table class="striped tight sortable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>B-Artikel-Nr.</th>
                    <th>Name</th>
                    <th>Gruppe</th>
                    <th>Preis Verkauf</th>
                    <th>Artikel</th>
                    <th>Materialien</th>
                    <th>Services</th>
                    <th>Beschreibung</th>
                </tr>
            </thead>
            <tbody>
                <?php if ($this->factoryArticlesCount) { ?>
                    <?php foreach ($this->paginator->getCurrentItems() as $searchedFactoryArticle) { ?>
                        <tr>
                            <td><?php echo $searchedFactoryArticle['id'] ?></td>
                            <td>
                                <a href="<?php echo $this->url('amandia_es_admin_factoryarticle', array('id' => $searchedFactoryArticle['id'])) ?>">
                                    <?php echo $searchedFactoryArticle['factory_article_nr'] ?>
                                </a>
                            </td>
                            <td><?php echo $searchedFactoryArticle['name'] ?></td>
                            <td><?php echo $this->factoryArticle($searchedFactoryArticle['id'], 'groupName') ?></td>
                            <td><?php echo $searchedFactoryArticle['price_sell'] ?></td>
                            <td>
                                <?php echo $searchedFactoryArticle['articles'] ?>
                                <?php // $jsonArticles = json_decode($searchedFactoryArticle['articles'], true) ?>
                                <?php // if ($jsonArticles) { ?>
<!--                                    <a class="button small show_articles" data-prodid="<?php echo $searchedFactoryArticle['id'] ?>">
                                        anzeigen&nbsp;(<?php echo count(array_keys($jsonArticles)) ?>)
                                    </a>-->
                                <?php // } ?>
                            </td>
                            <td><?php echo $searchedFactoryArticle['materials'] ?></td>
                            <td><?php echo $searchedFactoryArticle['services'] ?></td>
                            <td title="<?php echo $searchedFactoryArticle['description'] ?>">
                                <?php echo substr($searchedFactoryArticle['description'], 0, 40) ?>
                            </td>
                        </tr>
                    <?php } ?>
                <?php } ?>
            </tbody>
        </table>
    </div>
<?php } ?>
<?php if (isset($this->paginator) && $this->paginator) { ?>

    <?php
    echo $this->paginationControl(
            $this->paginator, 'Sliding', 'pagination/searchDefault', array(
        'route' => 'amandia_es_admin_factoryarticle_search',
        'page' => $this->page,
        'paramsSearch' => $this->paramsSearch)
    );
    ?>
<?php } ?>

<div id="modal_div"></div>