<?php
$this->headScript()->appendFile($this->basePath() . '/js/amandia_es/amandiaes_json_show.js');
echo $this->displayMessage($this->message);
echo $this->printrTextarea($this->postData);
?>
<?php if ($this->factoryOrders && $this->order && $this->product) { ?>
    <?php $this->headTitle('Betriebsaufträge'); ?>
    <h4>Betriebsaufträge</h4>
    <div class="row">
        <div class="col_12">
            <table class="striped tight sortable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Auftrags-Nr.</th>
                        <th>Produkt-Name</th>
                        <th>Anzahl Produkt</th>
                        <th>Anzahl BA</th>
                        <th>Standort</th>
                        <th>Datum create</th>
                        <th>Datum edit</th>
                        <th>Datum Start</th>
                        <th>Datum Ende</th>
                        <th>Datum cancel</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($this->factoryOrders as $factoryOrder) { ?>
                        <tr>
                            <td><?php echo $factoryOrder['id'] ?></td>
                            <td>
                                <a href="/aes-order-admin/<?php echo $this->order['id'] ?>">
                                    <?php echo $this->order['order_nr'] ?>
                                </a>
                            </td>
                            <td>
                                <a href="/aes-product-admin/<?php echo $this->product['id'] ?>">
                                    <?php echo $this->product['name'] ?>
                                </a>
                            </td>
                            <td><?php echo $this->locationName($factoryOrder['location']) ?></td>
                            <td><?php echo $factoryOrder['datetime_creation'] ?></td>
                            <td><?php echo $factoryOrder['datetime_last_change'] ?></td>
                            <td><?php echo $factoryOrder['datetime_start'] ?></td>
                            <td><?php echo $factoryOrder['datetime_finish'] ?></td>
                            <td><?php echo $factoryOrder['datetime_cancel'] ?></td>
                        </tr>
                    <?php } ?>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col_4">
        </div>
        <div class="col_4">

        </div>
        <div class="col_4">

        </div>
    </div>
<?php } ?>

<?php if ($this->factoryOrder && $this->factoryOrderForm) { ?>
    <?php $this->headTitle('Betriebsauftrag'); ?>
    <?php $this->factoryOrderForm->prepare(); ?>
    <?php echo $this->form()->openTag($this->factoryOrderForm); ?>
    <fieldset>
        <legend>Betriebsauftrag</legend>
        <?php echo $this->formHidden($this->factoryOrderForm->get('factory_order')->get('id')); ?>
        <div class="row">
            <div class="col_3">
                <?php echo $this->kikstartFormRow($this->factoryOrderForm->get('factory_order')->get('factory_order_nr')); ?>
            </div>
            <div class="col_3">
                <?php echo $this->kikstartFormRow($this->factoryOrderForm->get('factory_order')->get('location')); ?>
            </div>
            <div class="col_3">
                <label>Employee</label>
                <?php echo $this->userDetails($this->factoryOrder['employee_id']) ?><!-- ViewHelper aus BitkornUser -->
            </div>
            <div class="col_3">
                <?php echo $this->kikstartFormRow($this->factoryOrderForm->get('factory_order')->get('comment')); ?>
            </div>
        </div>
        <div class="row">
            <div class="col_2">
                Anzahl der B-Artikel:
            </div>
            <div class="col_2">
                
            </div>
            <div class="col_2">
                
            </div>
            <div class="col_2">
            </div>
            <div class="col_2">
            </div>
            <div class="col_2">
            </div>
        </div>
        <div class="row">
            <div class="col_2">
                <?php echo $this->kikstartFormRow($this->factoryOrderForm->get('submit')); ?>
            </div>
            <div class="col_2">
                <?php echo $this->kikstartFormRow($this->factoryOrderForm->get('finish')); ?>
            </div>
            <div class="col_2">
                <?php echo $this->kikstartFormRow($this->factoryOrderForm->get('cancel')); ?>
            </div>
            <div class="col_2">
            </div>
            <div class="col_2">
            </div>
            <div class="col_2">
            </div>
        </div>
    </fieldset>
    <?php echo $this->form()->closeTag(); ?>

    <fieldset>
        <legend>zugehöriger B-Artikel</legend>
        <div class="row">
            <div class="col_3">
                <a href="<?php echo $this->url('amandia_es_admin_factoryarticle', array('id' => $this->factoryArticle['id'])) ?>"><?php echo $this->factoryArticle['name'] ?></a><br>
                Gruppe:&nbsp;<?php // echo $this->factoryArticleGroupName($this->factoryArticle['group']) ?>
            </div>
            <div class="col_3">
                <textarea disabled="true" rows="1"><?php echo $this->factoryArticle['description'] ?></textarea>
            </div>
            <div class="col_3">
                <?php $jsonArticles = json_decode($this->factoryArticle['articles'], true) ?>
                <?php if ($jsonArticles) { ?>
                    <a class="button small show_articles" data-faid="<?php echo $this->factoryArticle['id'] ?>">
                        Artikel anzeigen&nbsp;(<?php echo count(array_keys($jsonArticles)) ?>)
                    </a>
                <?php } ?>
            </div>
            <div class="col_3">
                <?php $jsonMats = json_decode($this->factoryArticle['materials'], true) ?>
                <?php if ($jsonMats) { ?>
                    <a class="button small show_materials" data-faid="<?php echo $this->factoryArticle['id'] ?>">
                        Material anzeigen&nbsp;(<?php echo count(array_keys($jsonMats)) ?>)
                    </a>
                <?php } ?>
            </div>
        </div>
    </fieldset>
<?php } ?>
<div id="modal_div" style="display: none;"></div>
<div id="ajaxoverlay"></div><div id="ajaxstatus"></div>