<?php
$this->headTitle('Betriebsauftrag Suche');
echo $this->displayMessage($this->message);
//echo $this->printrTextarea($this->paramsSearch);
?>
<?php if (isset($this->searchFactoryOrderForm)) { ?>
    <?php $this->searchFactoryOrderForm->prepare(); ?>
    <div class="row">
        <?php echo $this->form()->openTag($this->searchFactoryOrderForm); ?>
        <fieldset>
            <legend>Betriebsauftrag Suche</legend>
            <div class="row">
                <div class="col_3">
                    <?php echo $this->kikstartFormRow($this->searchFactoryOrderForm->get('factory_article_nr')) ?>
                </div>
                <div class="col_3">
                </div>
                <div class="col_3">
                    <?php echo $this->kikstartFormRow($this->searchFactoryOrderForm->get('employee_id')) ?>
                </div>
                <div class="col_3">
                    <?php echo $this->kikstartFormRow($this->searchFactoryOrderForm->get('cost_center')) ?>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col_3">
                    <?php echo $this->kikstartFormRow($this->searchFactoryOrderForm->get('datetime_creation')) ?>
                </div>
                <div class="col_3">
                    <?php echo $this->kikstartFormRow($this->searchFactoryOrderForm->get('datetime_finish')) ?>
                </div>
                <div class="col_3">
                    <?php echo $this->kikstartFormRow($this->searchFactoryOrderForm->get('finished')) ?>
                </div>
                <div class="col_3">
                    <p style="padding: 16px;">
                        <?php echo $this->formSubmit($this->searchFactoryOrderForm->get('submit')) ?>
                    </p>
                </div>
            </div>
        </fieldset>
        <?php echo $this->form()->closeTag(); ?>
    </div>
    <div class="row">
        <table class="striped tight sortable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>B-Auftrag-Nr.</th>
                    <th>B-Artikel-Nr.</th>
                    <th>B-Artikel-Name</th>
                    <th>zuständig</th>
                    <th>Datum erstellt</th>
                    <th>Datum Start</th>
                    <th>Datum beendet</th>
                    <th>Standort</th>
                </tr>
            </thead>
            <tbody>
                <?php if ($this->isFactoryOrders) { ?>
                    <?php foreach ($this->paginator->getCurrentItems() as $searchedFactoryOrder) { ?>
                        <tr>
                            <td><?php echo $searchedFactoryOrder['id'] ?></td>
                            <td>
                                <a href="/aes-factory-order-admin/foid/<?php echo $searchedFactoryOrder['id'] ?>">
                                    <?php echo $searchedFactoryOrder['factory_order_nr'] ?>
                                </a>
                            </td>
                            <td><?php echo $this->factoryArticle($searchedFactoryOrder['factory_article_id'], 'nr') ?></td>
                            <td><a href="<?php echo $this->url('amandia_es_admin_factoryarticle', array('id' => $searchedFactoryOrder['factory_article_id'])) ?>"><?php echo $this->factoryArticle($searchedFactoryOrder['factory_article_id'], 'name') ?></a></td>
                            <td><?php echo $this->userDetails($searchedFactoryOrder['employee_id'], 'name') ?></td><!-- ViewHelper aus BitkornUser -->
                            <td><?php echo $searchedFactoryOrder['datetime_creation'] ?></td>
                            <td><?php echo $searchedFactoryOrder['datetime_start'] ?></td>
                            <td><?php echo $searchedFactoryOrder['datetime_finish'] ?></td>
                            <td><?php echo $this->locationName($searchedFactoryOrder['location']) ?></td>
                        </tr>
                    <?php } ?>
                <?php } ?>
            </tbody>
        </table>
    </div>
<?php } ?>
<?php if (isset($this->paginator) && $this->paginator) { ?>

    <?php
    echo $this->paginationControl(
            $this->paginator, 'Sliding', 'pagination/searchDefault', array(
        'route' => 'amandia_es_admin_factoryorder_search',
        'page' => $this->page,
        'paramsSearch' => $this->paramsSearch)
    );
    ?>
<?php } ?>