<?php
$this->headTitle('Material wählen');
echo $this->displayMessage($this->message);
//echo $this->printrTextarea($this->chooseData);
?>
<div class="row">
    <div class="col_1">
        <a href="<?php echo $this->url($this->originRoute, array('id' => $this->originId)) ?>" class="button small"><i class="icon-double-angle-left"></i> zurück</a>
    </div>
    <div class="col_4">
        edit Material f&uuml;r <b><?php echo $this->chooserTypeName . ': ' . $this->chooserName ?></b>
    </div>
    <div class="col_3">
        <form method="post" action="<?php echo $this->url('amandia_es_admin_material_choose', array('origin' => $this->origin)) ?>">
            <select name="group_select" class="select_autosubmit">
                <?php foreach ($this->groupsIdNameAssoc as $groupId => $groupName) { ?>
                    <option value="<?php echo $groupId ?>" <?php echo ($this->group == $groupId) ? 'selected="selected"' : ''; ?>><?php echo $groupName ?></option>
                <?php } ?>
            </select>
        </form>
    </div>
    <div class="col_4">
    </div>
</div>
<table class="striped tight sortable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Lieferant</th>
            <th>Geom.</th>
            <th>Geom.</th>
            <th>Gewicht</th>
            <th>Gewicht</th>
            <th>Preis Einkauf</th>
            <th>Preis Verkauf</th>
            <th>Beschreibung</th>
            <!--<th>&nbsp;</th>-->
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <?php if (isset($this->isMaterials) && $this->isMaterials) { ?>


            <?php foreach ($this->paginator->getCurrentItems() as $material) { ?>
                <?php $materialAmount = array_key_exists($material['id'], $this->chooserMaterials) ? $this->chooserMaterials[$material['id']] : 0; ?>

                <tr>
                    <td>
                        <?php echo $material['id'] ?>
                    </td>
                    <td>
                        <?php echo $material['name'] ?>
                    </td>
                    <td>
                        <?php echo $this->supplierName($material['supplier']) ?>
                    </td>
                    <td>
                        <?php echo $material['measure_scale_geom'] ?>
                    </td>
                    <td>
                        <?php echo $this->symbolGeom($material['measure_symbol_geom']) ?>
                    </td>
                    <td>
                        <?php echo $material['measure_scale_weight'] ?>
                    </td>
                    <td>
                        <?php echo $this->symbolWeight($material['measure_symbol_weight']) ?>
                    </td>
                    <td>
                        <?php echo $material['price_buy'] ?>
                    </td>
                    <td>
                        <?php echo $material['price_sell'] ?>
                    </td>
                    <td>
                        <?php echo $material['description'] ?>
                    </td>
                    <td>
                        <form method="post" action="" style="margin: 0;">
                            <input type="text" name="amount" value="<?php echo $materialAmount ?>" class="col_2 changeable"/>
                            <input type="hidden" name="id" value="<?php echo $material['id'] ?>"/>
                            <input type="submit" value="übernehmen" name="choose_geom"/>
                        </form>
                    </td>
                </tr>
            <?php } ?>
        <?php } ?>
    </tbody>
</table>

<?php if (isset($this->isMaterials) && $this->isMaterials) { ?>
    <?php
    echo $this->paginationControl(
            $this->paginator, 'Sliding', 'pagination/chooseDefault', array(
        'route' => 'amandia_es_admin_material_choose',
        'origin' => $this->origin,
        'group' => $this->group,
        'page' => $this->page)
    );
    ?>
<?php } ?>


