<?php
$this->headTitle('Material');
echo $this->displayMessage($this->message);
echo $this->printrTextarea($this->entries);
?>
<?php if (isset($this->materialForm)) { ?>
    <fieldset>
        <legend>Material</legend>
        <?php $this->materialForm->prepare(); ?>
        <?php echo $this->form()->openTag($this->materialForm); ?>
        <?php echo $this->formHidden($this->materialForm->get('material')->get('id')); ?>
        <div class="row">
            <div class="col_3">
                <?php echo $this->kikstartFormRow($this->materialForm->get('material')->get('name')); ?>
                <?php echo $this->kikstartFormRow($this->materialForm->get('material')->get('description')); ?>
            </div>
            <div class="col_3">
                <?php echo $this->kikstartFormRow($this->materialForm->get('material')->get('group')); ?>
                <?php echo $this->kikstartFormRow($this->materialForm->get('material')->get('supplier')); ?>
            </div>
            <div class="col_3">
                <?php echo $this->kikstartFormRow($this->materialForm->get('material')->get('price_buy')); ?>
                <?php echo $this->kikstartFormRow($this->materialForm->get('material')->get('price_sell')); ?>
            </div>
            <div class="col_3">
                <?php echo $this->kikstartFormRow($this->materialForm->get('material')->get('measure_scale_geom')); ?>
                <?php echo $this->kikstartFormRow($this->materialForm->get('material')->get('measure_symbol_geom')); ?>
                <?php echo $this->kikstartFormRow($this->materialForm->get('material')->get('measure_scale_weight')); ?>
                <?php echo $this->kikstartFormRow($this->materialForm->get('material')->get('measure_symbol_weight')); ?>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col_3">
                <?php echo $this->kikstartFormRow($this->materialForm->get('submit')); ?>
                <?php echo $this->form()->closeTag(); ?>
            </div>
            <div class="col_3">

            </div>
            <div class="col_3">

            </div>
            <div class="col_3">

            </div>
        </div>
    </fieldset>
<?php } ?>