<?php
$this->headTitle('Material Suche');
echo $this->displayMessage($this->message);
//echo $this->printrTextarea($this->paramsSearch);
?>
<?php if (isset($this->searchMaterialForm)) { ?>
    <?php $this->searchMaterialForm->prepare(); ?>
    <div class="row">
        <?php echo $this->form()->openTag($this->searchMaterialForm); ?>
        <fieldset>
            <legend>Material Suche</legend>
            <div class="col_3">
                <?php echo $this->formLabel($this->searchMaterialForm->get('name')) ?>
                <?php echo $this->formText($this->searchMaterialForm->get('name')) ?>
            </div>
            <div class="col_3">
                <?php echo $this->formLabel($this->searchMaterialForm->get('group')) ?>
                <?php echo $this->formSelect($this->searchMaterialForm->get('group')) ?>
            </div>
            <div class="col_3">
                <?php echo $this->formLabel($this->searchMaterialForm->get('supplier')) ?>
                <?php echo $this->formSelect($this->searchMaterialForm->get('supplier')) ?>
            </div>
            <div class="col_3">
                <p style="padding: 8px;">
                    <?php echo $this->formSubmit($this->searchMaterialForm->get('submit')) ?>
                </p>
            </div>
        </fieldset>
        <?php echo $this->form()->closeTag(); ?>
    </div>
    <div class="row">
        <table class="striped tight sortable">
            <thead>
                <tr>
                    <th>Material-Name <i class="icon-chevron-up"></i></th>
                    <th>Material-Gruppe</th>
                    <th>Lieferant</th>
                    <th>Geom.</th>
                    <th>Geom.</th>
                    <th>Gewicht</th>
                    <th>Gewicht</th>
                    <th>Preis Einkauf</th>
                    <th>Preis Verkauf</th>
                    <th>Beschreibung</th>
                </tr>
            </thead>
            <tbody>
                <?php if ($this->materialCount) { ?>
                    <?php foreach ($this->paginator->getCurrentItems() as $searchedMaterial) { ?>
                        <tr>
                            <td><a href="/aes-material-admin/<?php echo $searchedMaterial['id'] ?>"><?php echo $searchedMaterial['name'] ?></a></td>
                            <td><?php echo $this->materialGroupName($searchedMaterial['group']) ?></td>
                            <td><?php echo $this->supplierName($searchedMaterial['supplier']) ?></td>
                            <td><?php echo $searchedMaterial['measure_scale_geom'] ?></td>
                            <td><?php echo $this->symbolGeom($searchedMaterial['measure_symbol_geom']) ?></td>
                            <td><?php echo $searchedMaterial['measure_scale_weight'] ?></td>
                            <td><?php echo $this->symbolWeight($searchedMaterial['measure_symbol_weight']) ?></td>
                            <td><?php echo $searchedMaterial['price_buy'] ?></td>
                            <td><?php echo $searchedMaterial['price_sell'] ?></td>
                            <td><?php echo $searchedMaterial['description'] ?></td>
                        </tr>
                    <?php } ?>
                <?php } ?>
            </tbody>
        </table>
    </div>
<?php } ?>
<?php if (isset($this->paginator) && $this->paginator) { ?>

    <?php
    echo $this->paginationControl(
            $this->paginator, 'Sliding', 'pagination/searchDefault', array(
        'route' => 'amandia_es_admin_material_search',
        'page' => $this->page,
        'paramsSearch' => $this->paramsSearch)
    );
    ?>
<?php } ?>
