<?php
$this->headScript()->appendFile($this->basePath() . '/js/amandia_es/amandiaes_ajax_product.js');
$this->headTitle('AJAX choose products');
echo $this->displayMessage($this->message);
//echo $this->printrTextarea($this->pageCount);
?>

<?php if (isset($this->searchProductForm)) { ?>
    <?php $this->searchProductForm->prepare(); ?>
    <div class="row">
        <?php echo $this->form()->openTag($this->searchProductForm); ?>
        <div class="row">
            <div class="col_3">
                <?php echo $this->kikstartFormRow($this->searchProductForm->get('product_search')->get('name')) ?>
            </div>
            <div class="col_3">
                <?php echo $this->kikstartFormRow($this->searchProductForm->get('product_search')->get('group')) ?>
            </div>
            <div class="col_3">
                <?php echo $this->kikstartFormRow($this->searchProductForm->get('product_search')->get('supplier')) ?>
            </div>
            <div class="col_2">
                <?php echo $this->kikstartFormRow($this->searchProductForm->get('submit')) ?>
            </div>
            <div class="col_1"><p><input type="button" onclick="javascript:$.nmTop().close()" value="X"></p>
                ppp<span><input type="number" name="limitCount" id="limitCount" value="<?php echo $this->limitCount ?>"></span>
            </div>
        <?php echo $this->form()->closeTag(); ?>
        </div>

        <div class="row">
            <table class="striped tight sortable"> <!--   -->
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Lieferant</th>
                        <th>Preis</th>
                        <th>Artikel</th>
                        <th>Material</th>
                        <th>Beschreibung</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <?php if (isset($this->products) && $this->products) { ?>
                        <?php foreach ($this->products as $product) { ?>
                            <tr valign="center">
                                <td>
                                    <?php echo $product['id'] ?>
                                </td>
                                <td>
                                    <?php echo $product['name'] ?>
                                </td>
                                <td>
                                    <?php echo $this->supplierName($product['supplier']) ?>
                                </td>
                                <td>
                                    <?php echo $product['price'] ?>
                                </td>
                                <td>
                                    <?php $jsonProds = json_decode($product['articles'], true) ?>
                                    <?php if ($jsonProds) { ?>
                                        <a class="button small show_articles" data-prodid="<?php echo $product['id'] ?>">
                                            anzeigen&nbsp;(<?php echo count(array_keys($jsonProds)) ?>)
                                        </a>
                                    <?php } ?>
                                </td>
                                <td>
                                    <?php $jsonMats = json_decode($product['materials'], true) ?>
                                    <?php if ($jsonMats) { ?>
                                        <a class="button small show_materials" data-prodid="<?php echo $product['id'] ?>">
                                            anzeigen&nbsp;(<?php echo count(array_keys($jsonMats)) ?>)
                                        </a>
                                    <?php } ?>
                                </td>
                                <td>
                                    <?php echo $product['description'] ?>
                                </td>
                                <td>
                                    <form method="post" action="" style="margin: 0;">
                                        <input type="hidden" name="choose_id" value="<?php echo $product['id'] ?>"/>
                                        <input type="submit" value=" + " name="choose_add" class="small green"/>
                                        <input type="submit" value=" - " name="choose_cull" class="small red"/>
                                    </form>
                                </td>
                            </tr>
                        <?php } ?>
                    </tbody>
                </table>
            <?php } ?>
        </div>
        <?php
        if ($this->pageCount > 1) {
            for ($i = 1; $i <= $this->pageCount; $i++) {
                echo $i . '  ';
            }
        }
        ?>
    <?php } ?>