<?php
echo $this->doctype();
?>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle($this->translate('bITkorn ZF2'))->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>

        <!-- Le styles -->
        <?php
        echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
//                ->prependStylesheet($this->basePath() . '/css/ui-lightness/jquery-ui-1.10.3.custom.min.css')
                ->prependStylesheet($this->basePath() . '/css/ui-smoothness/jquery-ui-1.10.4.custom.css')
//                ->prependStylesheet($this->basePath() . '/css/bootstrap-responsive.min.css')
//                ->prependStylesheet($this->basePath() . '/css/style.css')
//                ->prependStylesheet($this->basePath() . '/css/bootstrap.min.css')
//                ->prependStylesheet($this->basePath() . '/css/bitkorn.css')
                ->prependStylesheet($this->basePath() . '/css/amandia.css')
                ->prependStylesheet($this->basePath() . '/HTML-KickStart/css/kickstart.css')
                ->prependStylesheet($this->basePath() . '/HTML-KickStart/style.css')
//                ->prependStylesheet($this->basePath() . '/js/xing-wysihtml5-fb0cfe4/website/css/editor.css')
//                ->prependStylesheet($this->basePath() . '/js/xing-wysihtml5-fb0cfe4/website/css/stylesheet.css')
        ?>

        <!-- Scripts -->
        <?php
        echo $this->headScript()->prependFile($this->basePath() . '/js/html5.js', 'text/javascript', array('conditional' => 'lt IE 9',))
                ->prependFile($this->basePath() . '/js/bitkorn.js')
                ->prependFile($this->basePath() . '/js/amandia_es/amandiaes.js')
//                ->prependFile($this->basePath() . '/js/bootstrap.min.js')
                ->prependFile($this->basePath() . '/HTML-KickStart/js/kickstart.js')
//                ->prependFile($this->basePath() . '/js/jquery-ui-1.10.3.custom.min.js')
                ->prependFile($this->basePath() . '/js/jquery-ui-1.10.4.custom.js')
                ->prependFile($this->basePath() . '/js/jquery.min.js')
//                ->prependFile($this->basePath() . '/js/tinymce/js/tinymce/tinymce.min.js')
//                ->prependFile($this->basePath() . '/js/ckeditor_standard/ckeditor.js')
                ->prependFile($this->basePath() . '/js/ckeditor_full/ckeditor.js')
//                ->prependFile($this->basePath() . '/js/xing-wysihtml5-fb0cfe4/parser_rules/advanced.js')
//                ->prependFile($this->basePath() . '/js/xing-wysihtml5-fb0cfe4/dist/wysihtml5-0.3.0.min.js')
        ?>
    </head>

    <body>



        <div style="width: 1200px; margin: 0 auto;">
            <?php echo $this->header; ?>
            <?php echo $this->displayMessage($this->message); ?>
            <?php echo $this->content; ?>
            <?php // echo $this->sidebar; ?>
            <?php echo $this->footer; ?>
        </div> <!-- /container -->
