<div class="row">
    <hr>
    <footer>
        <p>&copy; 2011 - <?php echo date('Y') ?> by bITkorn</p>
        <p><?php // echo htmlspecialchars($_SERVER['SERVER_NAME']);   ?></p>
        <p><?php // echo Locale::getDefault()  ?></p>
    </footer>
</div>
</body>
</html>