<?php

use Zend\Session\Container;

$container = new Container('user');
$isUser = ($container->username) ? TRUE : FALSE;
?>
<div class="container">
    <ul class="menu">
        <li><a href="/">ZF2&nbsp;<i class="icon-home"></i></a></li>
        <?php if ($isUser) { ?>
            <?php if ($container->userole == 'admin') { ?>
                <li class="dropdown">
                    <a href="">Neu&nbsp;<i class="icon-barcode"></i></a>
                    <ul>
                        <li><a href="/aes-customer-admin">Kunde</a></li>
                        <li><a href="/aes-order-admin">Auftrag</a></li>
                        <li><hr class="menu-hr"></li>
                        <li><a href="/aes-article-admin">Artikel</a></li>
                        <li><a href="/aes-material-admin">Material</a></li>
                        <li><a href="/aes-service-admin">Service</a></li>
                        <li><a href="/aes-factory-article-admin">B-Artikel</a></li>
                        <li><hr class="menu-hr"></li>
                        <li><a href="/aes-product-admin">Produkt</a></li>
                        <li><a href="/aes-factory-order-admin">B-Auftrag</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="">Suchen&nbsp;<i class="icon-eye-open"></i></a>
                    <ul>
                        <li><a href="/aes-customer-search">Kunde</a></li>
                        <li><a href="/aes-order-admin-search">Auftrag</a></li>
                        <li><hr class="menu-hr"></li>
                        <li><a href="/aes-article-search">Artikel</a></li>
                        <li><a href="/aes-material-search">Material</a></li>
                        <li><a href="/aes-service-search">Service</a></li>
                        <li><a href="/aes-factory-article-search">B-Artikel</a></li>
                        <li><hr class="menu-hr"></li>
                        <li><a href="/aes-product-search">Produkt</a></li>
                        <li><a href="/aes-factory-order-search">B-Auftrag</a></li>
                    </ul>
                </li>
                <li class="dropdown"><!-- ToDo: ACL check -->
                    <a href="">User Admin <i class="icon-user"></i></a>
                    <ul>
                        <li><a href="/user-group-admin">UserGroup Admin</a></li>
                    </ul>
                </li>
            <?php } else { ?>
                <li><a href="">Dieser Bereich ist nur für Admins</a></li>
            <?php } ?>
            <li><a href="/logout"><?php echo $container->username ?>&nbsp;logout&nbsp;<i class="icon-signout"></i></a></li>
        <?php } else { ?>
            <li><a href="/login">login&nbsp;<i class="icon-signin"></i></a></li>
            <li><a href="/register">register</a></li>
        <?php } ?>
    </ul>
</div>