<?php
$this->headTitle('Artikel wählen');
echo $this->displayMessage($this->message);
//echo $this->printrTextarea($this->chooseData);
?>
<div class="row">
    <div class="col_1">
        <a href="<?php echo $this->url($this->originRoute, array('id' => $this->originId)) ?>" class="button small"><i class="icon-double-angle-left"></i> zurück</a>
    </div>
    <div class="col_4">
        edit Artikel f&uuml;r <b><?php echo $this->originTypeName . ': ' . $this->originName ?></b>
    </div>
    <div class="col_3">
        <form method="post" action="<?php echo $this->url('amandia_es_admin_article_choose', array('origin' => $this->origin)) ?>">
            <select name="group_select" class="select_autosubmit">
                <?php foreach ($this->groupsIdNameAssoc as $groupId => $groupName) { ?>
                    <option value="<?php echo $groupId ?>" <?php echo ($this->group == $groupId) ? 'selected="selected"' : ''; ?>><?php echo $groupName ?></option>
                <?php } ?>
            </select>
        </form>
    </div>
    <div class="col_4">
    </div>
</div>


<table class="striped tight sortable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Artikel-Gruppe</th>
            <th>Lieferant</th>
            <th>Preis Einkauf</th>
            <th>Preis Verkauf</th>
            <th>Beschreibung</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <?php if (isset($this->isArticles) && $this->isArticles) { ?>
        <tbody>
            <?php foreach ($this->paginator->getCurrentItems() as $article) { ?>
                <?php $articleCount = array_key_exists($article['id'], $this->chooserArticles) ? $this->chooserArticles[$article['id']] : 0; ?>

                <tr valign="center">
                    <td>
                        <?php echo $article['id'] ?>
                    </td>
                    <td>
                        <?php echo $article['name'] ?>
                    </td>
                    <td>
                        <?php echo $this->articlegroupName($article['group']) ?>
                    </td>
                    <td>
                        <?php echo $this->supplierName($article['supplier']) ?>
                    </td>
                    <td>
                        <?php echo $article['price_buy'] ?>
                    </td>
                    <td>
                        <?php echo $article['price_sell'] ?>
                    </td>
                    <td>
                        <?php echo $article['description'] ?>
                    </td>
                    <td>
                        <a href="?chooseAdd=<?php echo $article['id'] ?>" class="button green">+</a>
                        <a href="?chooseCull=<?php echo $article['id'] ?>" class="button red">-</a>
                        <b><?php echo $articleCount ?></b>
                    </td>
                </tr>
            <?php } ?>
        </tbody>
    </table>
    <?php
    echo $this->paginationControl(
            $this->paginator, 'Sliding', 'pagination/chooseDefault', array(
        'route' => 'amandia_es_admin_article_choose',
        'origin' => $this->origin,
        'group' => $this->group,
        'page' => $this->page)
    );
    ?>
<?php } else { ?>
    </table>
<?php } ?>