<?php
$this->headTitle('Artikel');
echo $this->displayMessage($this->message);
//echo $this->printrTextarea($this->entries);
?>
<?php if (isset($this->articleForm)) { ?>
    <fieldset>
        <legend>Artikel</legend>
        <?php $this->articleForm->prepare(); ?>
        <?php echo $this->form()->openTag($this->articleForm); ?>
        <?php echo $this->formHidden($this->articleForm->get('article')->get('id')); ?>
        <div class="row">
            <div class="col_3 column">
                <?php echo $this->kikstartFormRow($this->articleForm->get('article')->get('name')); ?>
                <?php echo $this->kikstartFormRow($this->articleForm->get('article')->get('article_nr')); ?>
                <?php echo $this->kikstartFormRow($this->articleForm->get('article')->get('article_nr_extern')); ?>
                <?php echo $this->kikstartFormRow($this->articleForm->get('article')->get('description')); ?>
            </div>
            <div class="col_3 column">
                <?php echo $this->kikstartFormRow($this->articleForm->get('article')->get('group')); ?>
                <?php echo $this->kikstartFormRow($this->articleForm->get('article')->get('supplier')); ?>
            </div>
            <div class="col_3 column">
                <?php echo $this->kikstartFormRow($this->articleForm->get('article')->get('price_buy')); ?>
                <?php echo $this->kikstartFormRow($this->articleForm->get('article')->get('price_sell')); ?>
            </div>
            <div class="col_3 column">
                <?php echo $this->kikstartFormRow($this->articleForm->get('article')->get('measure_scale_geom')); ?>
                <?php echo $this->kikstartFormRow($this->articleForm->get('article')->get('measure_symbol_geom')); ?>
                <?php echo $this->kikstartFormRow($this->articleForm->get('article')->get('measure_scale_weight')); ?>
                <?php echo $this->kikstartFormRow($this->articleForm->get('article')->get('measure_symbol_weight')); ?>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col_3 column">
                <?php echo $this->kikstartFormRow($this->articleForm->get('submit')); ?>
            </div>
            <div class="col_3 column">
                <?php echo $this->form()->closeTag(); ?>
            </div>
            <div class="col_3 column">

            </div>
            <div class="col_3 column">

            </div>
        </div>
    </fieldset>
<?php } ?>