<?php
$this->headTitle('Artikel Suche');
echo $this->displayMessage($this->message);
//echo $this->printrTextarea($this->paramsSearch);
?>
<?php if (isset($this->searchArticleForm)) { ?>
    <?php $this->searchArticleForm->prepare(); ?>
    <div class="row">
        <?php echo $this->form()->openTag($this->searchArticleForm); ?>
        <fieldset>
            <legend>Artikel Suche</legend>
            <div class="row">
                <div class="col_3 column">
                    <?php echo $this->kikstartFormRow($this->searchArticleForm->get('name')) ?>
                </div>
                <div class="col_3 column">
                    <?php echo $this->kikstartFormRow($this->searchArticleForm->get('group')) ?>
                </div>
                <div class="col_3 column">
                    <?php echo $this->kikstartFormRow($this->searchArticleForm->get('supplier')) ?>
                </div>
                <div class="col_3 column">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col_3 column">
                    <?php echo $this->kikstartFormRow($this->searchArticleForm->get('article_nr')) ?>
                </div>
                <div class="col_3 column">
                    <?php echo $this->kikstartFormRow($this->searchArticleForm->get('article_nr_extern')) ?>
                </div>
                <div class="col_3 column">
                    <p style="padding: 8px;">
                        <?php echo $this->formSubmit($this->searchArticleForm->get('submit')) ?>
                    </p>
                </div>
                <div class="col_3 column">
                </div>
            </div>
        </fieldset>
        <?php echo $this->form()->closeTag(); ?>
    </div>
    <div class="row">
        <table class="striped tight sortable">
            <thead>
                <tr>
                    <th>Artikel-Name <i class="icon-chevron-up"></i></th>
                    <th>Artikel-Gruppe</th>
                    <th>Lieferant</th>
                    <th>Preis Einkauf</th>
                    <th>Preis Verkauf</th>
                    <th>Artikel-Nr.</th>
                    <th>Artikel-Nr. extern</th>
                    <th>Beschreibung</th>
                </tr>
            </thead>
            <tbody>
                <?php if ($this->articleCount) { ?>
                    <?php foreach ($this->paginator->getCurrentItems() as $searchedArticle) { ?>
                        <tr>
                            <td><a href="/aes-article-admin/<?php echo $searchedArticle['id'] ?>"><?php echo $searchedArticle['name'] ?></a></td>
                            <td><?php echo $this->articleGroupName($searchedArticle['group']) ?></td>
                            <td><?php echo $this->supplierName($searchedArticle['supplier']) ?></td>
                            <td><?php echo $searchedArticle['price_buy'] ?></td>
                            <td><?php echo $searchedArticle['price_sell'] ?></td>
                            <td><?php echo $searchedArticle['article_nr'] ?></td>
                            <td><?php echo $searchedArticle['article_nr_extern'] ?></td>
                            <td><?php echo $searchedArticle['description'] ?></td>
                        </tr>
                    <?php } ?>
                <?php } ?>
            </tbody>
        </table>
    </div>
<?php } ?>
<?php if (isset($this->paginator) && $this->paginator) { ?>

    <?php
    echo $this->paginationControl(
            $this->paginator, 'Sliding', 'pagination/searchDefault', array(
        'route' => 'amandia_es_admin_article_search',
        'page' => $this->page,
        'paramsSearch' => $this->paramsSearch)
    );
    ?>
<?php } ?>
